.idea/
.vscode/
node_modules/
build/
temp/

generator/.idea/
generator/.vscode/
generator/node_modules/
generator/build/
generator/temp/


generator/pdf/*
!generator/pdf/.gitkeep

parser/.idea/
parser/.vscode/
parser/node_modules/
parser/build/
parser/temp/